@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0; */
  }
}

body {
  font-family: "Golos Text", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: -webkit-fill-available;
  -webkit-tap-highlight-color: transparent; /* remove blue bg on click */
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

.bgNoise {
  background: url("../components/landing/noise.png"),
    lightgray 0% 0% / 100px 100px repeat, #5875e8;
}

@media (hover: hover) {
  ::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-thumb {
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 9999px;
    background-color: #dcdcdc;
  }
}

@media (hover: hover) {
  .hideScrollbarNavMobile {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .hideScrollbarNavMobile::-webkit-scrollbar {
    display: none;
  }
}

.hideScrollbarNav {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.hideScrollbarNav::-webkit-scrollbar {
  display: none;
}

/* .theCalcDiv {
  max-height: -webkit-fill-available;
  max-height: -moz-calc(100vh - 194.3px);
  max-height: -webkit-calc(100vh - 194.3px);
  max-height: calc(100vh - 194.3px);
} */

.holder:empty:before {
  content: attr(placeholder);
  color: #b0b0b0;
  display: block;
}
[contenteditable] {
  -webkit-user-select: text;
  user-select: text;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.Toastify__close-button {
  display: none;
}

.svg-pi-wrapper {
  position: relative;
}

.svg-pi {
  transform: rotate(-90deg); /* Fix the orientation */
}

/* Animated spinner version */
.svg-pi-indicator--spinner {
  animation: spinner 0.75s linear infinite;
  transform-origin: center;
}

.svg-pi-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.svg-pi-label__loading {
  opacity: 0.5;
  font-size: 0.75em;
}

.svg-pi-label__progress {
  font-size: 1.5em;
  font-weight: bold;
}

.svg-pi-label__loading,
.svg-pi-label__progress {
  display: block;
}

/* Spinner animation */
@keyframes spinner {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.fancyText {
  background: linear-gradient(
    90deg,
    #5875e8 43.65%,
    #b072f4 52.95%,
    #d76890 60.86%,
    #80de7a 67.82%,
    #fd8863 72.71%,
    #ea9e13 79.35%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Golos Text;
  font-size: 38px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -1.52px;
}

.fancyBg1 {
  background: linear-gradient(
    214deg,
    #31cc2e -6.47%,
    #4bc421 30.27%,
    #f39c12 95.88%
  );
}

.fancyBg2 {
  background: linear-gradient(
    110deg,
    #fd8863 13.08%,
    #ff2679 31.92%,
    #fd9259 79.54%,
    #fd9259 81.32%
  );
}
